
.navbar{
    background-color: var(--footet_header-color);
   }
   .logo {
     width: 4em;
   }
 
   .dropdown-menu {
     display: none;
     position: absolute;
   }
 
   .dropdown-menu.show {
     display: block;
   }
 
   .dropdown-submenu {
     position: relative;
   }
 
   .dropdown-submenu .dropdown-menu {
     left: 100%;
     top: 0;
     margin-left: 0;
     display: none;
   }
 
   .dropdown-submenu:hover .dropdown-menu {
     display: block;
   }