
body{
    font-family: "IBM Plex Sans Thai", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
    border: 0;
}
nav {
    background-color: #ffc35a;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo-container {
    display: flex;
    align-items: center;
}
.logo {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}
.website-name {
    font-size: 1.5em;
    font-weight: bold;
}
.nav-links {
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 20px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.nav-links li a {
    text-decoration: none;
    color: #333;
}