@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');
    
body {
    font-family: 'Kanit', sans-serif;
    background-color: #f0f0f0;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.room-section {
    background-color: #FEFCF4;
    margin-top: 20px;
    border-radius: 10px;
    padding: 20px ;
    width: 700px;
    
    
}
#section{
    display: flex;
    padding: 50px;
    background-color: #fefcf9;
    padding-bottom: 100px;

}
.card {
    background-color: #FEFCF4;
    border-radius: 8px;
    border: none;
    box-shadow: 0 5px 5px rgba(0,0,0,0.1);
    padding: 20px;
    width: 650px;
    margin-left: auto;
    margin-right:auto ;
    padding-top: 0;
    

}



h2 {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: bold;
}
.date-range {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.date {
    text-align: center;
}

.date-value {
    font-size: 16px;
    font-weight: bold;
}
.time {
    font-size: 14px;
    color: #666;
}
.info {
    border-top: 1px solid #eee;
    padding-top: 15px;
}
.info p {
    margin: 5px 0;
    font-size: 14px;
    
  
}
p{
    text-align: left;
}
.total-wrapper {
    margin: 15px -20px;
    background-color: #FFE797;
}
.total {
    padding: 10px 20px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
}

button{
    margin-top: 50px;
    width: 100px;
    padding: 5px;
    border: none;
    background-color: #FFD700;
    color: #6C620F;
    border-radius: 5px;
}


.room-sections-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.room-section {
    background-color: #FEFCF4;
    border-radius: 10px;
    padding: 20px;
    width: 48%; 
    margin-bottom: 20px;
}

.card {
    background-color: #FEFCF4;
    border-radius: 8px;
    border: none;
    box-shadow: 0 5px 5px rgba(0,0,0,0.1);
    padding: 20px;
    width: 100%;
    margin-bottom: 20px;
}

