@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');
    
body {
    font-family: 'Kanit', sans-serif;
    background-color: #f0f0f0;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
/* .navbar-nav {
    margin-left: auto;
    margin-right: auto;
    }
    .navbar-brand{
    margin-left: 10px;
    font-family: "Fredoka", sans-serif;    
    font-weight: bold;
    left: 10px;
    font-size: 22px; 
    

    }
    .navbar {
    background-color: #FFE797;
    padding: 30px 0 30px 0;
}
    .navbar-nav {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.nav-item{
    font-family: "Fredoka", sans-serif;   
    font-size: 22px; 

} */
.room-sections-wrapper {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 30px;
    }



#section {
    max-width: 1700px; /* ปรับขนาด container ให้แคบลง */
    height: 100%;
    background-color: white;
    margin-right: auto;
    margin-left: auto;
    padding: 0 0 50px 0px;
    
    
}
.room-section {
    background-color: #FEFCF4;
    margin-top: 50px;
    border-radius: 10px;
    padding: 20px ;
    width: 700px;
    
   
    
}

.card {
    background-color: #FEFCF4;
    border-radius: 8px;
    border: none;
    box-shadow: 0 5px 5px rgba(0,0,0,0.1);
    padding: 20px;
    width: 650px;
    margin-left: auto;
    margin-right:auto ;
    
    
}

h2 {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: bold;
}
.date-range {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.date {
    text-align: center;
}
.date-label {
    font-size: 12px;
    color: #666;
}
.date-value {
    font-size: 16px;
    font-weight: bold;
}
.time {
    font-size: 14px;
    color: #666;
}
.info {
    border-top: 1px solid #eee;
    padding-top: 15px;
}
.info p {
    margin: 5px 0;
    font-size: 14px;
    
  
}
p{
    text-align: left;
}

.total-wrapper {
    margin: 15px -20px;
    background-color: #FFE797;
}
.total {
    padding: 10px 20px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
}

.radio-button {
    margin: 10px;
  }
  
  .radio-button input[type="radio"] {
    opacity: 0;
    position: fixed;
    width: 0;
  }
  
  .radio-button label {
    display: inline-block;
    background-color: #ddd;
    padding: 10px 20px;
    font-family: sans-serif, Arial;
    font-size: 16px;
    border: 2px solid #444;
    border-radius: 4px;
  }
  
  .radio-button label:hover {
    background-color: #dfd;
  }
  
  .radio-button input[type="radio"]:focus+label {
    border: 2px dashed #444;
  }
  
  .radio-button input[type="radio"]:checked+label {
    background-color: #bfb;
    border-color: #4c4;
  }
button{
    margin-top: 50px;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    border: none;
    background-color: #FFD700;
    color: #6C620F;
    border-radius: 5px;
}
