@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body{
    font-family: kanit;
    background-color: #f3f4f6;

}
  
#container {
    max-width: 800px;
    margin: 2rem auto;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    padding: 1.5rem;
}
.card {
    border: none;
    background-color: transparent;
}

.card-header {
    background-color: transparent;
    border-bottom: none;
    padding: 0;
}

.card-header h2 {
    font-size: 1.25rem;
    font-weight: 600;
    color: #111827;
    margin-bottom: 1.5rem;
}

.card-body {
    padding: 0;
}

.card-body h2 {
    font-size: 1rem;
    font-weight: normal;
}

.card-body p {
    margin-bottom: 1rem;
}
.status{
    border-bottom: 0.1px solid rgba(0, 0, 0, 0.151) ;
    padding-bottom: 15px;
    margin-bottom: 20px;
    
}