@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400..800&display=swap');

/* จัดรูปแบบ container */
.container {
    width: 60%;
    margin: 5% auto;
    padding: 20px;
}
nav{
    background-color: #ffce72;

}

/* ส่วนฟอร์มแบบแนวนอน */



label {
    font-size: 1rem;
    color: #333;
    margin-right: 10px;
}

/* ช่องกรอกข้อมูล (input และ select) */
input[type="date"], select {
    padding: 10px;
    border: 1px solid #ffd700;
    border-radius: 4px;
    background-color: #f9f9f9;
    color: #333;
    font-size: 1rem;
    width: auto; /* ตั้งค่าให้มีความกว้างอัตโนมัติ */
}

/* ปุ่ม submit */
button #submit-search{
    background: #ffce72;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 1.1rem;
    font-weight: 600;
    text-align: center;
    transition: background 0.3s;
}

#cen {
    
    display: flex;
    justify-content: center;
    align-items: center;
}

/* เพิ่มการจัดช่องว่าง */
form > div {
    display: flex;
    align-items: center;
    gap: 10px; /* ระยะห่างระหว่าง label และ input */
}

/*ส่วนของheader ข้างบน*/
.banner{
    padding: 60px 0 0 100px;
    display: flex;
    width: 100%;
    position: relative;
    background-color: #FFF3E0;
    height: 500px;
    overflow: hidden;
    z-index: 1; /* กำหนด z-index ให้ .banner เพื่อให้อยู่ใต้ .form */
}
.img-banner1{
    width: 18em;
    position: absolute;
    background-color: #BAD6DA;
    border-radius: 100em;
    right: 100px;
    bottom: 55px;

}
.img-banner2{
    width: 12em;
    position: absolute;
    background-color: #FFE797;
    border-radius: 100em;
    right: 430px;
    bottom: 55px;

}
.title{
    font-size: 100px;
    font-family: "Sen", sans-serif;

}
.form {
    position: absolute;
    bottom: 60px;
    display: flex;
    align-items: center;
    list-style-type: none;
    font-family: "IBM Plex Sans Thai", sans-serif;
    font-weight: 400;
    padding: 2% 5%;
    margin-top: 5%;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    gap: 20px;
    z-index: 10; /* เพิ่ม z-index เพื่อให้ form อยู่ชั้นบนสุด */
    background-color: #ffffff; /* เพิ่มสีพื้นหลังให้ form เพื่อให้มองเห็นได้ชัดเจน */
}
.btn{
    margin: 0 5px 0 0;
}
