/* จัดรูปแบบ container */
.container {
    width: 60%;
    margin: 5% auto;
    padding: 20px;
}

/* ส่วนฟอร์มแบบแนวนอน */
form {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    font-family: "IBM Plex Sans Thai", sans-serif;
    font-weight: 400;
    padding: 2% 5%;
    margin-top: 5%;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    gap: 20px; /* เพิ่มช่องว่างระหว่างฟิลด์ */
}

label {
    font-size: 1rem;
    color: #333;
    margin-right: 10px;
}

/* ช่องกรอกข้อมูล (input และ select) */
input[type="date"], select {
    padding: 10px;
    border: 1px solid #ffd700;
    border-radius: 4px;
    background-color: #f9f9f9;
    color: #333;
    font-size: 1rem;
    width: auto; /* ตั้งค่าให้มีความกว้างอัตโนมัติ */
}

/* ปุ่ม submit */
button[type="submit"] {
    background: #ffce72;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 1.1rem;
    font-weight: 600;
    text-align: center;
    transition: background 0.3s;
}

button[type="submit"]:hover {
    background: #ffae4b;
}

/* ตั้งค่า flex ให้ตรงกลาง */
#cen {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* เพิ่มการจัดช่องว่าง */
form > div {
    display: flex;
    align-items: center;
    gap: 10px; /* ระยะห่างระหว่าง label และ input */
}
