h1 {
    color: blue;
    font-size: 35px;
    font-weight: bold;
}
p {

    /*ส่วนของ font*/
    color: rgb(0, 0, 0);
    font-size: 35px;
    font-weight: bold;

    /*ส่วนของ Border*/
    border: 1px solid black; 

    /*โดยจะใส่ขนาดกรอบ ลักษณะเส้นกรอบ สีกรอบ ตามลำดับ*/

    /*ช่องว่างภายในกรอบ*/
    padding: 50px;

    /*ระยะห่างระหว่างกรอบ*/
    margin: 50px;
}